<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jaxws="http://cxf.apache.org/jaxws" 
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/jaxws
		http://cxf.apache.org/schemas/jaxws.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context  
      	http://www.springframework.org/schema/context/spring-context.xsd
        ">
	
	<dubbo:application name="hisign-spy-app" />

    <dubbo:protocol name="rmi" port="28092"/>
    <!--<dubbo:protocol name="rest" port="8022"/>-->
    <!--<dubbo:protocol name="webservice" port="8023"/>-->

    <dubbo:service interface="com.hisign.spy.api.common.ICacheService" protocol="rmi" ref="cacheService" />

    <dubbo:service interface="com.hisign.spy.api.system.SysUserService" protocol="rmi" ref="sysUserService" />

    <dubbo:service interface="com.hisign.spy.api.system.SysDictService" protocol="rmi" ref="sysDictService" />

    <dubbo:service interface="com.hisign.spy.api.system.SysRoleService" protocol="rmi" ref="sysRoleService" />

    <dubbo:service interface="com.hisign.spy.api.system.SysParameterService" protocol="rmi" ref="sysParameterService" />

    <dubbo:service interface="com.hisign.spy.api.system.SysModuleService" protocol="rmi" ref="sysModuleService" />

    <dubbo:service interface="com.hisign.spy.api.system.SysLogService" protocol="rmi" ref="sysLogService" />

    <dubbo:service interface="com.hisign.spy.api.system.SysLoginLogService" protocol="rmi" ref="sysLoginLogService" />

    <dubbo:service interface="com.hisign.spy.api.system.SysMessageService" protocol="rmi" ref="sysMessageService" />

</beans>