<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jaxws="http://cxf.apache.org/jaxws" 
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/jaxws
		http://cxf.apache.org/schemas/jaxws.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context  
      	http://www.springframework.org/schema/context/spring-context.xsd
        ">
    
	<dubbo:application name="hisign-spy-app" />

    <dubbo:reference id="sysMessageService" interface="com.hisign.spy.api.system.SysMessageService" timeout="20000" retries="0"/>

    <dubbo:reference id="cacheService" interface="com.hisign.spy.api.common.ICacheService" timeout="20000" retries="0"/>

    <dubbo:reference id="sysUserService" interface="com.hisign.spy.api.system.SysUserService" timeout="20000" retries="0"/>

    <dubbo:reference id="sysDictService" interface="com.hisign.spy.api.system.SysDictService" timeout="20000" retries="0"/>

    <dubbo:reference id="sysRoleService" interface="com.hisign.spy.api.system.SysRoleService" timeout="20000" retries="0"/>

    <dubbo:reference id="sysParameterService" interface="com.hisign.spy.api.system.SysParameterService" timeout="20000" retries="0"/>

    <dubbo:reference id="sysModuleService" interface="com.hisign.spy.api.system.SysModuleService" timeout="20000" retries="0"/>

    <dubbo:reference id="sysLogService" interface="com.hisign.spy.api.system.SysLogService" timeout="20000" retries="0"/>

    <dubbo:reference id="sysLoginLogService" interface="com.hisign.spy.api.system.SysLoginLogService" timeout="20000" retries="0"/>
</beans>